body { font-family: Helvetica;  font-size: 0.9em; margin: 0; padding: 0 }
.center { margin: 0 auto; width: 800px; }

h1 { margin-bottom: 5px; }
h3 { border-bottom: dotted 1px #878787; margin-bottom: 30px }

header { background: #222; color: white }
header .center { padding: 40px 50px}
header a, header a:visited { color: white; margin-right: 15px; }
header .links { margin-top: 25px; }

.section .item { margin-bottom: 50px }

.block { padding: 30px 0; }


.highlighted { background: ghostwhite; }

a { color: #4b78ae }

a:visited { color: #508cc6 }

img.icon { width: 16px; height: 16px; vertical-align: middle}


.bladerunner {
    position: absolute; left: 0; right: 0; top: 0; bottom: 0;
    background: black;
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

.console {
    width: 700px;
    font-family: monospace;
    color: #3feede;
    position: absolute; left: 10px; bottom: 10px;
}

.photo {
    position: absolute; left: 0; right: 0; top: 0; bottom: 0;
    font-weight: bold;
    background: url(../img/bladerunner.jpg);
    opacity: 0;
    transition: opacity 20s ease-in-out;
    background-size: cover;
}

.on {
    opacity: 1;
}

.on50 {
    opacity: 0.5;
}

.off {
    display: none;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}