body { font-family: Helvetica; margin: 100px auto; width: 800px; font-size: 0.9em }

h1 { margin-bottom: 5px; }
h3 { border-bottom: dotted 1px #878787; }

.section { margin-top: 50px}
.section .item { margin-bottom: 50px }

a { color: #4b78ae }

a:visited { color: #508cc6 }

img.icon { width: 16px; height: 16px; vertical-align: middle}